@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Inter", sans-serif !important;
  font-weight: 400;
  line-height: 28px;
  color: #6A6A6A;
  overflow-x: hidden;
  background: #EFF2F1;
}

a {
  color: #2F2F2F;
  text-decoration: none;
  transition: 0.3s all ease;
}
a:hover {
  color: rgba(47, 47, 47, 0.7);
}

.custome-navbar {
  background-color: #3B5D50;
}
.custome-navbar .navbar-brand {
  font-size: 32px;
  font-weight: 600;
}
.custome-navbar .navbar-brand > span {
  opacity: 0.4;
}
.custome-navbar .navbar-toggler {
  border-color: transparent;
}
.custome-navbar .navbar-toggler:active, .custome-navbar .navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}
@media (min-width: 992px) {
  .custome-navbar .costume-navbar-nav li {
    margin-right: 15px;
    margin-left: 15px;
    font-size: 14px;
  }
}
.custome-navbar .costume-navbar-nav li a {
  font-weight: 500;
  color: #FFF !important;
  opacity: 0.5;
  position: relative;
  transition: 0.3s all ease;
}
@media (min-width: 992px) {
  .custome-navbar .costume-navbar-nav li a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 5px;
    background-color: #F9BF29;
    bottom: 0;
    left: 8px;
    right: 8px;
    opacity: 1;
    visibility: visible;
    transition: 0.15s all ease ease-out;
  }
}
.custome-navbar .costume-navbar-nav li a:hover {
  opacity: 1;
}
.custome-navbar .costume-navbar-nav li a:hover:before {
  width: calc(100% - 16px);
}
.custome-navbar .costume-navbar-nav li.active a {
  opacity: 1;
}
.custome-navbar .costume-navbar-nav li.active a:before {
  width: calc(100% - 16px);
}

.costume-navbar-icon {
  margin-left: 0 !important;
  flex-direction: row;
}
@media (min-width: 768px) {
  .costume-navbar-icon {
    margin-left: 40px !important;
  }
}
.costume-navbar-icon li:first-child {
  margin-right: 20px;
}

.hero {
  background: #3B5D50;
  padding: calc(4rem - 30px) 0 0rem 0;
}
@media (min-width: 992px) {
  .hero {
    padding: calc(8rem - 30px) 0 8rem 0;
  }
}
.hero .hero-desc {
  max-width: 450px;
}
.hero h1 {
  color: #FFF;
  font-weight: 700;
}
.hero p {
  color: rgba(255, 255, 255, 0.5);
}
.hero .hero-img-wrap {
  position: relative;
}
.hero .hero-img-wrap img {
  position: relative;
  top: 0px;
  right: 0px;
  max-width: 780px;
  z-index: 2;
}
@media (min-width: 1200px) {
  .hero .hero-img-wrap img {
    position: absolute;
    right: -100px;
    top: -80px;
  }
}
.hero .hero-img-wrap::after {
  content: "";
  position: absolute;
  width: 255px;
  height: 217px;
  background-image: url("../assets/Dotted.png");
  background-size: no-repeat;
  right: -100px;
  top: -40px;
}

.btn {
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 30px;
  color: #FFF;
  background-color: #2F2F2F;
  border-color: #2F2F2F;
}
.btn:hover {
  color: #FFF;
  background: #222222;
  background-color: #222222;
}
.btn:active, .btn:focus {
  outline: none !important;
  box-shadow: noneS;
}
.btn.btn-secondary {
  color: #2F2F2F;
  background-color: #F9BF29;
  border-color: #F9BF29;
}
.btn.btn-secondary:hover {
  background: #f8b810;
  border-color: #222222;
}
.btn.btn-outline-light {
  background: transparent;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0.3);
}
.btn.btn-outline-light:hover {
  border-color: white;
}

.product-section {
  padding: 7rem 0;
}
.product-section .product-item {
  text-align: center;
  display: block;
  position: relative;
  cursor: pointer;
  padding-bottom: 50px;
}
.product-section .product-item h3 {
  font-weight: 600;
  font-size: 16px;
}
.product-section .product-item strong {
  font-weight: 800;
  font-size: 18px;
}
.product-section .product-item h3,
.product-section .product-item strong {
  color: #2F2F2F;
  text-decoration: none;
}
.product-section .product-item .icon-cross {
  position: absolute;
  width: 35px;
  height: 35px;
  background: #2F2F2F;
  display: inline-block;
  border-radius: 50%;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: -17.5px;
  opacity: 0;
  visibility: hidden;
}
.product-section .product-item .icon-cross img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.product-section .product-item:before {
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
  content: "";
  background: #dce5e4;
  height: 0%;
  border-radius: 10px;
  z-index: -1;
  transition: 0.3s all ease;
}
.product-section .product-item:hover .product-thumbnail {
  top: -25px;
}
.product-section .product-item:hover .icon-cross {
  opacity: 1;
  visibility: visible;
}
.product-section .product-item:hover:before {
  height: 70%;
}

.why {
  padding: 7rem 0;
}
.why .section-title {
  color: #000;
}
.why .img-wrap {
  position: relative;
}
.why .img-wrap::before {
  position: absolute;
  content: "";
  width: 255px;
  height: 217px;
  background-image: url("../assets/Yellow-dot.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: translate(-40%, -40%);
  z-index: -1;
}

.feature {
  margin-bottom: 30px;
}
.feature .icon {
  display: inline-block;
  margin-bottom: 20px;
  position: relative;
}
.feature .icon:before {
  content: "";
  width: 33px;
  height: 33px;
  position: absolute;
  background: rgba(59, 93, 80, 0.2);
  border-radius: 50%;
  right: -10px;
  bottom: -5;
}
.feature h3 {
  font-size: 14px;
  color: #2F2F2F;
}
.feature p {
  font-size: 14px;
  line-height: 22px;
  color: #6A6A6A;
}

.we-help-section {
  padding: 7rem 0;
}
.we-help-section .imgs-grid {
  display: grid;
  grid-template-columns: repeat(27, 1fr);
  position: relative;
}
.we-help-section .imgs-grid .grid {
  position: relative;
}
.we-help-section .imgs-grid .grid img {
  border-radius: 20px;
  max-width: 100%;
}
.we-help-section .imgs-grid .grid.grid-1 {
  grid-column: 1/span 18;
  grid-row: 1/span 27;
}
.we-help-section .imgs-grid .grid.grid-2 {
  grid-column: 18/span 18;
  grid-row: 1/span 5;
  padding-left: 16px;
}
.we-help-section .imgs-grid .grid.grid-3 {
  grid-column: 14/span 16;
  grid-row: 6/span 27;
  padding-top: 20px;
}
.we-help-section .desc-title {
  font-weight: 600;
  font-size: 34px;
  color: #000;
}
.we-help-section .custom-list {
  width: 100%;
}
.we-help-section .custom-list li {
  display: inline-block;
  width: calc(50% - 20px);
  margin-bottom: 12px;
  line-height: 1.5;
  padding-left: 20px;
  position: relative;
}
.we-help-section .custom-list li:before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 2px solid #3B5D50;
  position: absolute;
  left: 0;
  top: 8px;
}

.popular-product {
  padding: 0 0 7rem 0;
}
.popular-product .product-item {
  font-size: 14px;
  color: #000;
}
.popular-product h3 {
  font-size: 14px;
  font-weight: 700;
}
.popular-product a {
  text-decoration: none;
  color: #2F2F2F;
  font-weight: 700;
}
.popular-product a:hover {
  color: rgba(47, 47, 47, 0.5);
}
.popular-product p {
  margin-bottom: 10px;
  line-height: 1.4;
}
.popular-product .thumbnail {
  margin-right: 10px;
  flex: 0 0 120px;
  position: relative;
}
.popular-product .thumbnail:before {
  position: absolute;
  content: "";
  border-radius: 20px;
  width: 98px;
  height: 98px;
  background: #dce5e4;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.testimonials-section {
  padding: 4rem 0;
}
.testimonials-section .section-title {
  color: #2F2F2F;
  font-size: 34px;
  font-weight: 600;
}
.testimonials-section img {
  border-radius: 50%;
}
.testimonials-section .author-name {
  color: #2F2F2F;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 4px;
}
.testimonials-section .position {
  font-size: 13px;
  font-weight: 400;
}

.blog-section {
  padding: 7rem 0;
}
.blog-section .post-entry a {
  text-decoration: none;
}
.blog-section .post-entry .post-thumbnail {
  display: block;
  margin-bottom: 20px;
}
.blog-section .post-entry .post-thumbnail img {
  border-radius: 20px;
}
.blog-section .post-entry .post-centent-entry {
  padding-left: 15px;
  padding-right: 15px;
}
.blog-section .post-entry .post-centent-entry h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 7px;
}
.blog-section .post-entry .post-centent-entry .meta {
  font-size: 14px;
}
.blog-section .post-entry .post-centent-entry .meta a {
  font-weight: 600;
}
.blog-section .post-entry:hover .post-thumbnail img {
  opacity: 0.7;
}

.footer-section {
  padding: 80px 0;
  background: #FFF;
}
.footer-section .relative {
  position: relative;
}
.footer-section a {
  color: #2F2F2F;
  transition: 0.3s all ease;
}
.footer-section a:hover {
  color: rgba(47, 47, 47, 0.5);
}
.footer-section .subscription-form {
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
  margin-top: 100px;
}
@media (min-width: 992px) {
  .footer-section .subscription-form {
    margin-top: 0;
    margin-bottom: 80px;
  }
}
.footer-section .subscription-form h3 {
  font-size: 18px;
  font-weight: 500;
  color: #3B5D50;
}
.footer-section .subscription-form .form-control {
  height: 50px;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
}
.footer-section .subscription-form .form-control:active, .footer-section .subscription-form .form-control:focus {
  outline: none;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  border-color: #3B5D50;
}
.footer-section .subscription-form .form-control::-webkit-input-placeholder {
  font-size: 14px;
  color: #2F2F2F;
}
.footer-section .subscription-form .btn {
  border-radius: 10px !important;
}
.footer-section .subscription-form .btn-green {
  background-color: #3B5D50;
  color: #FFF;
}
.footer-section .sofa-img {
  position: absolute;
  right: 0;
  top: -200px;
  z-index: 0;
}
.footer-section .sofa-img img {
  max-width: 380px;
}
.footer-section .links-wrap {
  margin-top: 30px;
}
.footer-section .footer-logo-wrap .footer-logo {
  font-size: 32px;
  font-weight: 500;
  color: #3B5D50;
}
.footer-section .custome-social li {
  display: inline-block;
  margin: 2px;
}
.footer-section .custome-social li a {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  background: #dce5e4;
  color: #3B5D50;
  border-radius: 50%;
}
.footer-section .custome-social li a:hover {
  background: #3B5D50;
  color: #FFF;
}/*# sourceMappingURL=style.css.map */